<div [formGroup]="loginForm" class="gap">
    <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
        <input required formControlName="userName" matInput placeholder="User Name">
        <mat-hint>Required</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input required formControlName="password" matInput placeholder="Password">
        <mat-hint>Required</mat-hint>
      </mat-form-field>
      <div class="display-flex">
        <button mat-button color="primary">Register</button>
        <button (click)="onLogin()"  [disabled]="!loginForm.valid" mat-button color="primary">Login</button>
      </div>
</div>